body {
	background-color: #000000;
	color: white;
}

h1{
    color: #AABBCC;
    transition: 1s;

}
h1:hover{
    color: #AACCBB
    font-size: 30px;
    transition: 1s;


}
img{
	width: 410px;
	transition: 1s;
	display: inline-block;
}

img:hover{
	width: 446px;
    
	transition: 1s;
}
p{
	text-align: justify;
	font-size: 15px;
	color: #AABCCC;
	transition: 1s;
}
p:hover{
    font-size: 19px;
    transition: 1s;

}
img {
  border: 6px solid #FF0033;
}